Import pandas library, aliased as 'pd'

In [1]:
import pandas as pd

In [2]:
houses_columnwise = {
    "price_approx_usd": [114910.23, 423912.12, 23839.23,325912.32,83235.12],
    "surface_covered_in_m2":[128.0,239.2,83.2, 934.2,122.1],
    "rooms": [4.0,3.0,2.0,3.0,3.0]
}

In [3]:
houses_columnwise

{'price_approx_usd': [114910.23, 423912.12, 23839.23, 325912.32, 83235.12],
 'surface_covered_in_m2': [128.0, 239.2, 83.2, 934.2, 122.1],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [5]:
df_houses = pd.DataFrame(houses_columnwise)
df_houses

   price_approx_usd  surface_covered_in_m2  rooms
0         114910.23                  128.0    4.0
1         423912.12                  239.2    3.0
2          23839.23                   83.2    2.0
3         325912.32                  934.2    3.0
4          83235.12                  122.1    3.0

In [3]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.utils.validation import check_is_fitted

In [4]:
df = pd.read_csv("mexico/mexico-city-real-estate-1.csv")
df

,Unnamed: 0,operation,property_type,place_with_parent_names,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url
0,1,sell,apartment,|Miguel Hidalgo|Distrito Federal|México|,"23.634501,-102.552788",5500000.0,MXN,5450245.50,289775.66,NaN,54.0,NaN,101851.851900,NaN,NaN,NaN,http://miguel-hidalgo-df.properati.com.mx/o3zb...
1,2,sell,house,|Iztapalapa|Distrito Federal|México|,"19.31033,-99.068557",1512000.0,MXN,1498321.97,79661.96,NaN,80.0,NaN,18900.000000,NaN,NaN,NaN,http://iztapalapa.properati.com.mx/q7t0_venta_...
2,3,sell,apartment,|Tlalpan|Distrito Federal|México|,"19.279771,-99.234597",926667.0,MXN,918284.00,48822.82,NaN,100.0,NaN,9266.670000,NaN,NaN,NaN,http://tlalpan.properati.com.mx/qbi4_venta_dep...
3,4,sell,apartment,|Miguel Hidalgo|Distrito Federal|México|,"23.634501,-102.552788",6410000.0,MXN,6352013.39,337720.36,NaN,135.0,NaN,47481.481480,NaN,NaN,NaN,http://miguel-hidalgo-df.properati.com.mx/opeq...
4,5,sell,apartment,|Benito Juárez|Quintana Roo|México|,"21.1902642,-86.8198375",875000.0,USD,16457437.50,875000.00,0.0,263.0,NaN,3326.996198,NaN,NaN,NaN,http://cancun.properati.com.mx/hg4t_venta_depa...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4623,4624,sell,apartment,|Benito Juárez|Quintana Roo|México|,"20.797201,-86.967773",200000.0,USD,3761700.00,200000.00,NaN,240.0,NaN,833.333333,NaN,1.0,NaN,http://cancun.properati.com.mx/fmik_venta_depa...
4624,4625,sell,apartment,|Tlalpan|Distrito Federal|México|,"19.303758,-99.223733",10000000.0,MXN,10144274.75,539345.23,200.0,NaN,2696.726150,NaN,NaN,NaN,NaN,http://lomas-del-pedregal.properati.com.mx/pym...
4625,4626,sell,house,|Solidaridad|Quintana Roo|México|,"20.613375,-87.089897",480000.0,USD,9028080.00,480000.00,451.0,245.0,1064.301552,1959.183673,2.0,NaN,NaN,http://playa-del-carmen.properati.com.mx/bvwt_...
4626,4627,sell,apartment,|Cuauhtémoc|Distrito Federal|México|,"23.634501,-102.552788",2453800.0,MXN,2431602.18,129282.09,NaN,67.0,NaN,36623.880600,NaN,NaN,NaN,http://cuauhtemoc.properati.com.mx/p2op_venta_...
4627,4628,sell,apartment,|Cuajimalpa de Morelos|Distrito Federal|México|,"19.392937,-99.263313",2700000.0,MXN,2675574.95,142253.50,NaN,70.0,NaN,38571.428570,NaN,NaN,NaN,http://cuajimalpa-de-morelos.properati.com.mx/...

In [7]:
def wrangle(filepath):
    df = pd.read_csv(filepath)
    
    return df

In [10]:
frame1 = wrangle('mexico/mexico-city-real-estate-1.csv')
frame1.head()

,Unnamed: 0,operation,property_type,place_with_parent_names,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url
0,1,sell,apartment,|Miguel Hidalgo|Distrito Federal|México|,"23.634501,-102.552788",5500000.0,MXN,5450245.50,289775.66,NaN,54.0,NaN,101851.851900,NaN,NaN,NaN,http://miguel-hidalgo-df.properati.com.mx/o3zb...
1,2,sell,house,|Iztapalapa|Distrito Federal|México|,"19.31033,-99.068557",1512000.0,MXN,1498321.97,79661.96,NaN,80.0,NaN,18900.000000,NaN,NaN,NaN,http://iztapalapa.properati.com.mx/q7t0_venta_...
2,3,sell,apartment,|Tlalpan|Distrito Federal|México|,"19.279771,-99.234597",926667.0,MXN,918284.00,48822.82,NaN,100.0,NaN,9266.670000,NaN,NaN,NaN,http://tlalpan.properati.com.mx/qbi4_venta_dep...
3,4,sell,apartment,|Miguel Hidalgo|Distrito Federal|México|,"23.634501,-102.552788",6410000.0,MXN,6352013.39,337720.36,NaN,135.0,NaN,47481.481480,NaN,NaN,NaN,http://miguel-hidalgo-df.properati.com.mx/opeq...
4,5,sell,apartment,|Benito Juárez|Quintana Roo|México|,"21.1902642,-86.8198375",875000.0,USD,16457437.50,875000.00,0.0,263.0,NaN,3326.996198,NaN,NaN,NaN,http://cancun.properati.com.mx/hg4t_venta_depa...

In [11]:
frame1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4628 entries, 0 to 4627
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4628 non-null   int64
 1   operation                   4628 non-null   object
 2   property_type               4628 non-null   object
 3   place_with_parent_names     4628 non-null   object
 4   lat-lon                     4144 non-null   object
 5   price                       4538 non-null   float64
 6   currency                    4538 non-null   object
 7   price_aprox_local_currency  4538 non-null   float64
 8   price_aprox_usd             4538 non-null   float64
 9   surface_total_in_m2         1668 non-null   float64
 10  surface_covered_in_m2       4436 non-null   float64
 11  price_usd_per_m2            1150 non-null   float64
 12  price_per_m2                4249 non-null   float64
 13  floor                       291 non-null    float64
 14  rooms                       136 non-null    float64
 15  expenses                    5 non-null      float64
 16  properati_url               4628 non-null   object
dtypes: float64(10), int64(1), object(6)
memory usage: 614.8+ KB

In [2]:
frame1.shape()

NameError: name 'frame1' is not defined